<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='style2.css') }}"/>

<h3 align="center"> Please leave a message at the beep...</h3>
<p align='center'><i align="center">sorry I missed you...</i></p>
<form action="/postentry" method="POST">
    <p align="center">Your name: <input type="text" name="name"/></p>
    <p align="center">Your message: </p>
    <p align="center"><textarea name="message" rows=10 cols=60></textarea></p>
    <p align="center"><input type="submit" value="Submit"/></p>
</form>
